@{
    ViewData["Title"] = "Welcome!";
}
<div class="left">
    <div class="userinfo">
        <h2>Welcome, Guest!</h2>
        <button>Sign Up</button>
        <p>Already a user? <a href="/">Sign In</a></p>
    </div>
    <div class="groups">
        <h3>All Public Groups</h3>
        <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show/Hide Groups</button>
        <div id="demo" class="collapse"> -->
        <div class="groupslist">
            <ul>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Lose Weight and Get in Shape</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Do Drugs</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Kick Ass</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Take Names</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Chew Gum</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Be All Out of Gum</h4> - <span class="grpmb">12 members</span></li>
            </ul>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="right">
    <div class="info">
        This website was created with the intention to allow friends from all over the globe to make goals with each other and better themselves together. Having a place to record one's goals helps accountability, not only so that the person who created it can have a visual reminder, but so their friends may help keep them on track as well. Joining GwF will allow you to create both public and private groups, make any number of goals for yourself, and help strengthen your network of support as you reach for goals you might never have thought possible until now.
    </div>
    <div class="options">
        <button>Make a Group</button><br>
        <button>Join a Private Group</button><br>
        <button>Make a Goal</button>
    </div>
</div>