@{
    ViewData["Title"] = "Home!";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#joinpriv').click(function(){
            $(this).css("display", "none");
            $("#joinform").css("display", "block");
        });

        $('#cancel').click(function(e) {
            e.preventDefault();
            $("#joinform").css("display", "none");
            $("#joinpriv").css("display", "block");
        })
    });
</script>

<div class="left">
    <div class="userinfo">
        <h2>Welcome, [NAME]!</h2>
        <hr class="namediv">
        <h4>Goals Ending Soon</h4>
        <div id="homepagegoals">
            <ul>
                <!-- SOONEST THREE TO END -->
                <li>[GOAL] - <span class="grpmb">ending on [END DATE]</span></li>          
            </ul>
        </div>
        <button class="simpleMar btn btn-default">Manage Goals</button>
        <hr class="namediv">
    </div>
    <div class="groups">
        <h3>All Public Groups</h3>
        <div class="groupslist">
            <ul>
                <li><h4>[GROUP NAME]</h4> - <span class="grpmb">[COUNT] members</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="right">
    <div class="info">
        This website was created with the intention to allow friends from all over the globe to make goals with each other and better themselves together. Having a place to record one's goals helps accountability, not only so that the person who created it can have a visual reminder, but so their friends may help keep them on track as well. Joining GwF will allow you to create both public and private groups, make any number of goals for yourself, and help strengthen your network of support as you reach for goals you might never have thought possible until now.
    </div>
    <div class="options">
        <a href="/group/create"><button class="simpleMar btn btn-default">Make a Group</button></a><br>
        <a href="/goal/create"><button class="simpleMar btn btn-default">Make a Goal</button></a><br>
        <a><button id="joinpriv" class="simpleMar btn btn-default">Join a Private Group</button></a>
    </div>
    <form id="joinform" action="/joinprivate" method="post"><table>
        <tr>
            <td>Group ID:</td>
            <td><input type="number" name="privid"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="privpass"></td>
        </tr>
        <tr>
            <td></td>
            <td id="submitgrp"><input type="submit" id="cancel" value="Cancel"><input type="submit" value="Join"></td>
        </tr>
    </table></form>

</div>