@{
    ViewData["Title"] = "Welcome!";
}


<div class="left">
    <div class="userinfo">
        <h2>Welcome, Guest!</h2>
        <hr class="namediv">
        <a href="/register"><button class="simpleMar btn btn-default btn-lg">Sign Up</button></a>
        <p>Already a user? <a href="/login">Sign In</a></p>
        <hr class="namediv">
    </div>
    <div class="groups">
        <h3>All Public Groups</h3>
        <div class="groupslist">
            <ul>
                @{
                    foreach (var x in @ViewBag.Groups)
                    {
                        <li><h4>@x.name</h4> - <span class="grpmb">@x.members.Count members</span></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="right">
    <div class="info">
        This website was created with the intention to allow friends from all over the globe to make goals with each other and better themselves together. Having a place to record one's goals helps accountability, not only so that the person who created it can have a visual reminder, but so their friends may help keep them on track as well. Joining GwF will allow you to create both public and private groups, make any number of goals for yourself, and help strengthen your network of support as you reach for goals you might never have thought possible until now.
    </div>

</div>