@{
    ViewData["Title"] = "Welcome!";
}
<div class="left">
    <div class="userinfo">
        <h2>Welcome, Guest!</h2>
        <button>Sign Up</button>
        <p>Already a user? <a href="/">Sign In</a></p>
    </div>
    <div class="groups">
        <h3>All Public Groups</h3>
        <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show/Hide Groups</button>
        <div id="demo" class="collapse"> -->
        <div class="groupslist">
            <ul>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Group Name</h4> - <span class="grpmb">0 members</span></li>
                <li><h4>Lose Weight and Get in Shape</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Do Drugs</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Kick Ass</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Take Names</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Chew Gum</h4> - <span class="grpmb">12 members</span></li>
                <li><h4>Be All Out of Gum</h4> - <span class="grpmb">12 members</span></li>
            </ul>
        </div>
        <!-- </div> -->
    </div>
</div>
<div class="right">
    <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis eros sagittis sapien scelerisque faucibus. Fusce et rutrum mauris. Nulla pellentesque est lorem, vitae consectetur enim faucibus a. Duis vulputate ullamcorper dolor vel convallis. Proin vehicula tincidunt leo, ac condimentum lorem tristique vitae. Vestibulum nec mattis est. Quisque consectetur venenatis massa, eget volutpat quam tempor eu. Etiam in mi finibus, sagittis erat eu, posuere lacus. Quisque pellentesque mauris vel tempor sodales. Suspendisse pharetra lorem nulla, non sodales ipsum convallis at. Vivamus elit massa, ultricies ut lectus ac, efficitur laoreet libero. Duis sagittis, libero eu rhoncus rhoncus, massa ex imperdiet sapien, in feugiat velit massa sed nunc. Morbi at convallis lectus. Praesent non aliquam neque, eget fringilla diam. Nunc tempor odio in risus hendrerit laoreet quis quis libero.

        Mauris pulvinar tempus sapien et aliquam. Phasellus a magna sapien. Aliquam nec pellentesque enim, in tincidunt nunc. Etiam laoreet enim id eros eleifend lobortis. Nullam porta, lectus eu mattis tempus, sem erat dictum orci, vel finibus elit lectus at arcu. Sed ornare vestibulum efficitur.
    </div>
    <div class="options">
        <button>Make a Group</button><br>
        <button>Join a Private Group</button><br>
        <button>Make a Goal</button>
    </div>
</div>