@{
    ViewData["Title"] = "Manage Goals";
}

<h1>Manage Goals</h1>
<hr>
<div class="managediv">
    <table class="manage">
    <tr>
        <th>Goal</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
    <tr>
        <td><a href="/">[GOAL]</a></td>
        <td>[DATE]</td>
        <td>[DATE]</td>        
        <td><button class="simpleMar btn btn-default">Delete</button></td>
    </tr>
</table>
</div>