@{
    ViewData["Title"] = "Manage Groups";
}

<h1>Manage Groups</h1>
<hr>
<div class="managediv">
    <table class="manage">
    <tr>
        <th>Name</th>
        <th>Member Count</th>
        <th>Date Joined</th>
        <th></th>
    </tr>
    <tr>
        <td><a href="/">[GROUP]</a></td>
        <td>[MEMBER COUNT]</td>
        <td>[DATE JOINED]</td>
        <!-- ALLOW DELETION IF OWNER OF GROUP -->
        <td><button class="simpleMar btn btn-default">Leave</button></td>
    </tr>
</table>
</div>