@{
    ViewData["Title"] = "New Group";
}

@model goalswithfriends.Models.Groups

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                $('#pass').prop('disabled', false);
            }
            else if($(this).prop("checked") == false){
                $('#pass').prop('disabled', true);
            }
        });
    });
</script>

<h1>Make a Group</h1>
<hr>
<form action="/group/create" method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input asp-for="name"></td>
            <td><span asp-validation-for="name"></span></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input asp-for="desc"></td>
        </tr>
        <tr>
            <td>Make private?</td>
            <td><input type="checkbox" name="privacy" value="private"><span>Yes</span></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input asp-for="password" id="pass" disabled></td>
        </tr>
        <tr>
            <td></td>
            <td id="submitgrp"><input type="submit" value="Create Group"></td>
        </tr>
    </table>
</form>

