@{
    ViewData["Title"] = "View Profile";
}

<h1>@ViewBag.Profile.username</h1>
<hr>
<div class="profileinfo">
    <!-- FIRST NAME AND BIO ONLY IF THIS ISN'T CURRENT USER -->
    <table>
        <tr>
            <td class="infolabel">Name:</td>
            <td>@ViewBag.Profile.first_name @ViewBag.Profile.last_name</td>
        </tr>
        <tr>
            <td class="infolabel">Bio:</td>
            <td><div class="biosec">@ViewBag.Profile.bio</div></td>
        </tr>
    </table>
    
</div>
<div class="profstuff">
    <a href=""><button class="simpleMar btn btn-default btn-lg">Manage Goals</button></a>
    <a href=""><button class="simpleMar btn btn-default btn-lg">Manage Groups</button></a>
    <a href=""><button class="simpleMar btn btn-default btn-lg">Edit Profile</button></a>
</div>