@{
    ViewData["Title"] = "View Profile";
}

<h1>User Name</h1>
<hr>
<div class="profileinfo">
    <!-- FIRST NAME AND BIO ONLY IF THIS ISN'T CURRENT USER -->
    <table>
        <tr>
            <td class="infolabel">Name:</td>
            <td>First Last</td>
        </tr>
        <tr>
            <td class="infolabel">Birthday:</td>
            <td>January 1, 2018</td>
        </tr>
        <tr>
            <td class="infolabel">Email:</td>
            <td>email@site.com</td>
        </tr>
        <tr>
            <td class="infolabel">Bio:</td>
            <td>[BIO]</td>
        </tr>
    </table>
    <button style="margin-top: 30px;" class="simpleMar btn btn-default btn-lg">Manage Goals</button>
    <button class="simpleMar btn btn-default btn-lg">Manage Groups</button>
    <button class="simpleMar btn btn-default btn-lg">Edit Profile</button>
</div>
<div class="profstuff">
    <h4>Goals</h4>
    <ul>
        <li>
            <h4><a href="/">[GOAL]</a></h4><br>
            Starts: [START DATE, IF ANY]<br>
            Ends: [END DATE]<hr class="namediv">
        </li>
    </ul>
    <hr class="namediv">
    <h4>Groups</h4>    
    <ul>
        <li><h4><a href="/">[GROUP NAME]</a></h4> - <span class="grpmb">[NUM] members</span></li>
    </ul>
</div>