@{
    ViewData["Title"] = "Register";
}

@model goalswithfriends.Models.Users


<form action="register" method="POST"><table class="">
    <h2>Register</h2>
    <tr>
        <td>First Name: </td>
        <td><input asp-for="first_name"></td>
        <td><span asp-validation-for="first_name"></span></td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td><input asp-for="last_name"></td>
        <td><span asp-validation-for="last_name"></span></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><input asp-for="email"></input></td>
        <td><span asp-validation-for="email"></span></td>
    </tr>
    <tr>
        <td>Birthday: </td>
        <td><input asp-for="birthday" max="@DateTime.Now.ToString("yyyy-MM-dd")"></input></td>
        <td><span asp-validation-for="birthday"></span></td>
    </tr>
    <tr>
        <td>Username: </td>
        <td><input asp-for="username"></input></td>
        <td><span asp-validation-for="username"></span></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input asp-for="password"></input></td>
        <td><span asp-validation-for="password" type="password"></span></td>
    </tr>
    <tr>
        <td>Confirm Password: </td>
        <td><input asp-for="passcheck"></input></td>
        <td><span type="passcheck" asp-validation-for="passcheck"></span></td>
    </tr>
</table>
<input type="submit" value="Submit!">
</form>