@{
    ViewData["Title"] = "Edit Profile";
}
@model goalswithfriends.Models.UpdateUser

<h1>Edit Profile:</h1>
<hr>
<form action="update" method="POST">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input asp-for="first_name" value="@ViewBag.Profile.first_name"></td>
            <td><span asp-validation-for="first_name"></span></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input asp-for="last_name" value="@ViewBag.Profile.last_name"></td>
            <td><span asp-validation-for="last_name"></span></td>
        </tr>
        <tr>
            <td>Private:</td>
            @{
                if( ViewBag.Profile.privacy == true) {
                    <td><input asp-for="privacy" checked></input></td>
                }
                else {
                    <td><input asp-for="privacy"></input></td>
                }
            }
        </tr>
        <tr>
            <td class="infolabel2">Biography:</td>
            <td><textarea name="bio" rows="4" cols="20">@ViewBag.Profile.bio</textarea></td>
        </tr>
        <tr>
            <td></td>
            <td id="submitgrp"><input type="submit" value="Update Information"></td>
        </tr>
    </table>
</form>