@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit Profile:</h1>
<hr>
<form>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="first_name"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="last_name"></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="date" name="birthday"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Biography:</td>
            <td><input type="text" name="bio"></td>
        </tr>
        <tr>
            <td></td>
            <td id="submitgrp"><input type="submit" value="Update Information"></td>
        </tr>
    </table>
</form>