<h1>Group Name</h1>
<h6>Created by: [NAME]</h6>
<hr class="namediv">
<div class="left">

    <h3>Goals</h3>
    <div class="groupgoalslist">
        <ul>
            <li>
                <h4>[GOAL]</h4><br>
                Starts: [START DATE, IF ANY]<br>
                Ends: [END DATE]<br>
                -<span class="grpmb">submitted by [MEMBER]</span><hr class="namediv">
            </li>
        </ul>
    </div>
</div>

<div class="right">
    <div class="userssec">
        <h3>Recently Joined Users</h3>
        <!-- LAST FIVE TO JOIN -->
        <ul>
            <li>[USERNAME]</li>
            <li>[USERNAME]</li>
            <li>[USERNAME]</li>
            <li>[USERNAME]</li>
            <li>[USERNAME]</li>
        </ul>
        <p><a href="/">View All Users</a></p>
        <hr class="namediv">
    </div>
    <div class="options">
        <!-- HIDE FIRST BUTTON IF NOT IN GROUP -->
        <button class="simpleMar btn btn-default">Make a Goal</button><br>
        <button class="simpleMar btn btn-default">Leave Group</button><br>
        <!-- ONLY SHOW IF CURRENT USER IS OWNER OF GROUP -->
        <button id="forgotps" class="simpleMar btn btn-default btn-sm">Forgot Group Password?</button><br>
    </div>
</div>