@{
    ViewData["Title"] = "View Goal";
}
<h1>Goal Information</h1>
<div class="profileinfo">
    <table>
        <tr>
            <td class="infolabel">Goal:</td>
            <td>Goal name n stuff</td>
        </tr>
        <tr>
            <td class="infolabel">Start Date:</td>
            <td>[DATE or N/A]</td>
        </tr>
        <tr>
            <td class="infolabel">End Date:</td>
            <td>[DATE]</td>
        </tr>
        <tr>
            <td class="infolabel">Created By:</td>
            <td>[AUTHOR]</td>
        </tr>
        <tr>
            <td class="infolabel">Group (if applicable):</td>
            <td>[GROUP NAME]</td>
        </tr>
        <tr>
            <td class="infolabel">Description:</td>
            <td>[DESC]</td>
        </tr>
    </table>
    <!-- HIDE IF THIS GOAL DOES NOT BELONG TO CURRENT USER -->
    <button style="margin-top: 30px;" class="simpleMar btn btn-default btn-lg">Delete Goal</button>
</div>