@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>
<hr>
<ul id="uslist">
    @{
        foreach(var user in ViewBag.AllUsers) {
            <li>@user.member.username</li>
        }
    }
</ul>