body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    margin: 0% 15% 0% 15%;
    /* margin: 0px; */
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.welcome { 
    padding: 0px 5px;
}
.simpleMar {
    margin: 5px 5px 5px 0px;
}

td {
    padding: 6px;
}
.left {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.right {
    margin-left: 40px;
    width: 45%;    
    display: inline-block;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.grpnm {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 20px;
}
.grpmb {
    font-style: italic;
}
h4 {
    display: inline-block;
}
.groupslist {
    height: 300px;
    overflow-y: auto;
}
.options {
    text-align: center;
}
.options table {
    margin-left: 20px;
}
.options button {
    width: 100%;
}
.profileinfo {
    margin-right: 70px;
    display: inline-block;
    width: 43%;
}
td {
    vertical-align: top;
}
.profstuff {
    vertical-align: top;
    display: inline-block;
    width: 45%;
}
.profstuff ul {
    height: 150px;
    overflow-y: auto;
}
#submitgrp {
    text-align: right;
}
.userinfo {
    text-align: center;
}
.userinfo h2 {
    text-align: left;
    margin-top: 0px;
}
.userinfo button {
    width: 100%;
}
#joinform {
    display: none;
}
#cancel {
    margin-right: 3px;
}